/**
 * Basic design of site
 */

body {
  background-color: $body-bg;
  font-size: 16px;
  font-family: $averta-regular;
  img {
    max-width: 100%;
  }
}
.sm-container {
  max-width: 970px; /*container-width is 940px + 30px padding*/
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.w-auto {
  width: auto !important;
}

.w-100 {
  display: inline-block;
  width: 100% !important;
}

.h-400 {
  height: 400px;
}

.no_border {
  border: none !important;
}

.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}


.mw-610 {
  max-width: 610px;
  width: 100%;
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.mw-475 {
  max-width: 475px;
}

.d_flex {
  @include css3-sufix(display, flex);
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.border_bm {
  border-bottom: 1px solid rgba(21, 26, 33, .2);
}

.mr-0 {
  margin-right: 0 !important;
}
.mb_0 {
  margin-bottom: 0 !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}

.p-0 {
  padding: 0 !important;
}
.pl-90 {
  padding-left: 90px;
}
.pd-t-b-30 {
  padding: 30px 0;
}

.pd-t-b-15 {
  padding: 15px 0;
}

.pd-t-b-50 {
  padding: 50px 0;
}

.pd-b-50 {
  padding-bottom: 50px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-80 {
  margin-top: 80px !important;
}
.mt-100 {
  margin-top: 100px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.row {
  @include css3-sufix(display, flex);
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}


.brand-label {
  display: inline-block;
  height: 60px;
  width: 200px;
  margin: 0 auto;
  background-image: url('../assets/images/Logo-green.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  &.img-small {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background-image: url('../assets/images/logo_engagieren_sm.svg');
    background-size: cover;
  }
}
section {
  .card-section {
    .card-section-title {
      color: $green;
    }
  }
}
.module-banner {
  .section_werden {
    @include background-horizontal($green-start, $green-end);
  }
}
/*.nale-orange {
  .brand-label {
    background-image: url('../assets/images/orange.png');
    &.img-small {
      background-image: url('../assets/images/orange-small.png');
    }
  }
  .card-section-title {
    color: $orange;
  }
}

.nale-pink {
  .brand-label {
    background-image: url('../assets/images/pink.png');
    &.img-small {
      background-image: url('../assets/images/pink-small.png');
    }
  }
  .card-section-title {
    color: $pink;
  }
}

.nale-blue {
  .brand-label {
    background-image: url('../assets/images/blue.png');
    &.img-small {
      background-image: url('../assets/images/blue-small.png');
    }
  }
}*/

.nale-leben {
  .brand-label {
    background-image: url('../assets/images/logo_leben_xl.svg');
    &.img-small {
      background-image: url('../assets/images/logo_leben_sm.svg');
    }
  }
  section {
    .card-section {
      .card-section-title {
        color: $orange;
        > a {
          color: $orange;
        }
      }
    }
  }
  .module-banner {
    .section_werden {
      @include background-horizontal($orange-start, $orange-end);
    }
  }
}

.nale-themen {
  .brand-label {
    background-image: url('../assets/images/logo_themen_xl.svg');
    &.img-small {
      background-image: url('../assets/images/logo_themen_sm.svg');
    }
  }
  section {
    .card-section {
      .card-section-title {
        color: $pink;
        > a {
          color: $pink;
        }
      }
    }
  }
  .module-banner {
    .section_werden {
      @include background-horizontal($purple-start, $purple-end);
    }
  }
}

.nale-engagieren {
  .brand-label {
    background-image: url('../assets/images/logo_engagieren_xl.svg');
    &.img-small {
      background-image: url('../assets/images/logo_engagieren_sm.svg');
    }
  }
  section {
    .card-section {
      .card-section-title {
        color: $green;
        > a {
          color: $green;
        }
      }
    }
  }
  .module-banner {
    .section_werden {
      @include background-horizontal($green-start, $green-end);
    }
  }
}

.nale-fordern {
  .brand-label {
    background-image: url('../assets/images/logo_foerdern_xl.svg');
    &.img-small {
      background-image: url('../assets/images/logo_foerdern_sm.svg');
    }
  }
  section {
    .card-section {
      .card-section-title {
        color: $yellow;
        > a {
          color: $yellow;
        }
      }
    }
  }
  .module-banner {
    .section_werden {
      @include background-horizontal($yellow-start, $yellow-end);
    }
  }
}

.nale-forum {
  .brand-label {
    background-image: url('../assets/images/logo_forum_xl.svg');
    &.img-small {
      background-image: url('../assets/images/logo_forum_sm.svg');
    }
  }
  section {
    .card-section {
      .card-section-title {
        color: $blue;
        > a {
          color: $blue;
        }
      }
    }
  }
  .module-banner {
    .section_werden {
      @include background-horizontal($blue-start, $blue-end);
    }
  }
}

.pager {
	.next {
		a {
			height: 42px;	
			width: 151px;	
			border: 2px solid rgba(21,26,33,0.9);	
			border-radius: 4px;	
			background-color: rgba(21,26,33,0.9);
			color: #fff;
	    display: flex;
	    font-weight: bold;
	    text-transform: capitalize;
	    align-items: center;
	    font-size: 16px;
    	line-height: 20px;
		}
	}
}