/**
 * Component Design
 * - BG color
 * - Text color
 * - Date info design
 * - Section design
 * - module-banner section
 */


/* Bg color */
.bg-orange-gradient {
  @include background-horizontal($orange-start, $orange-end);
}

.bg-purple-gradient {
  @include background-horizontal($purple-start, $purple-end);
}

.bg-blue-gradient {
  @include background-horizontal($blue-start, $blue-end);
}

.bg-green-gradient {
  @include background-horizontal($green-start, $green-end);
}

.bg-yellow-gradient {
  @include background-horizontal($yellow-start, $yellow-end);
}

.bg_no {
  background: none;
}

.bg-white {
  background-color: $white;
}


/* Text color */
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}

.text-orange {
  color: $orange !important;
}
.text-green {
  color: $green;
}
.text-pink {
  color: $pink !important;
}

.text-gray-7 {
  color: rgba(21, 26, 33, .7);
}

.text-gradient-green {
  background: -webkit-linear-gradient(45deg, $green-start, $green-end 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Date info design */
.date-info {
  padding-left: 0;
  color: rgba(21, 26, 33, .9);
  font-size: 13px;
  line-height: 16px;
  i {
    padding-right: 10px;
  }
}

.image-wrapper {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding-top: 16px;
  background-color: $body-color;
}
/* Section design */
.section {
  margin-bottom: 100px;
  .sub_text {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: $body-color;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
  }
  .section-button {
    text-align: center;
  }
}

.btn {
  margin-bottom: 10px;
  padding: 10px 40px;
  border: 2px solid rgba(21, 26, 33, .9);
  background-color: rgba(21, 26, 33, .9);
  color: $white;
  &:hover {
    color: $white;
  }
  &.btn-trans {
    border: 2px solid $white;
    background-color: transparent;
  }
  &.btn-white {
    border: 2px solid $white;
    background-color: #FBF6F0;
    color: $theme-font-color;
  }
  &.btn-black {
    border: 2px solid $black;
    background-color: transparent;
    color: $black;
  }
}


/* module-banner section */
.module-banner {
  margin-bottom: 100px;
  .section_werden {
    padding: 45px;
    .werden_text {
      max-width: 655px;
      margin-bottom: 40px;
      color: $white;
      font-weight: bold;
    }
    a {
      border: 2px solid $white;
      border-radius: 5px;
      color: $white;
      font-weight: bold;
    }
  }
}

/* section upper */
.section_upper {
  margin-bottom: 70px;
  font-weight: bold;
  text-align: center;
}

.card-preview-pretitle {
  margin-top: 80px;
  color: $theme-font-color !important;
  font-weight: 800;
}

.card-preview-cardlink {
  left: 0;
}


.card-preview-cardtitle {
  max-width: 365px;
  margin: 0 auto;
  font-weight: 100;
}

.intro-section {
  h4 {
    display: inline-block;
    padding-right: 16px;
    font-weight: normal;
  }
}

#select-dropdown {
  .drop-down-wrap {
    padding: 10px;
    border-bottom: 1px solid #B1AEAC;
    span {
      display: inline-block;
      width: 100%;
    }
    .search-box,
    .left-dropdown,
    .center-dropdown {
      display: inline-block;
      width: 100%;
      margin: 10px 0;
      padding: 5px;
      border-radius: 4px;
    }
    .left-dropdown,
    .center-dropdown {
      padding: 10px;
      background-color: transparent;
    }
  }
}

.info-sitebar {
  .info-sitebar-image {
    margin-bottom: 15px;
    padding-bottom: 1px;
    border: 1px solid $body-color;
    border-radius: 4px;
    background-color: $white;
  }
  .info-title {
    margin-bottom: 15px;
    padding: 20px 10px;
    border: 1px solid $body-color;
    border-radius: 4px;
    background-color: $white;
    ul {
      padding: 0;
      list-style: none;
      li {
        padding-bottom: 15px;
        font-size: 16px;
        &:last-child {
          margin-top: 20px;
          padding: 0;
        }
        &.active {
          color: #151A21;
          font-weight: bold;
        }
      }
    }
  }
  .info-map {
    height: 276px;
    padding-top: 1px;
    border: 1px solid $body-color;
    border-radius: 4px;
    background-color: $white;
  }
}

