/*
* - engagieren design
*/

.number-round {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding-top: 5px;
  border: 3px solid #3EC8AC;
  border-radius: 100%;
  font-weight: bold;
  text-align: center;

  @extend .text-gradient-green;
}

.ehrenamtliche-list {
  ul {
    margin-top: 0;
    li {
      margin-bottom: 15px;
      color: rgba(21, 26, 33, .7);
    }
  }
}

.contact {
  .contact-image {
    border-radius: 100%;
  }
}

#geschäftsstelle {
  .field--name-field-static-content-image {
    img {
      border-radius: 100%;
      height: 132px;
      width: 132px;      
    }
  }
} 
  
#block-views-block-imageteaser-front-block-2 {
  .view-header {
    h2 {
      background: -webkit-linear-gradient(45deg, #00C675, #197592 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 45px;
      font-family: Averta-bold;
      letter-spacing: -.2px;
    }
    h4 {
      display: inline-block;
      height: 50px;
      width: 50px;
      padding-top: 5px;
      border: 3px solid #3EC8AC;
      border-radius: 100%;
      font-weight: bold;
      text-align: center;
      background: -webkit-linear-gradient(45deg, #00C675, #197592 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    }
  }
}  