/**
 * Font file
 */
/*
*/

// All the font of the application
@font-face {
  font-family: 'Averta-Regular';
  src: url('../assets/fonts/Averta/Averta-Regular/Averta.otf');
}

@font-face {
  font-family: 'Averta-Light';
  src: url('../assets/fonts/Averta/Averta-Light/Averta-Light.otf');
}

@font-face {
  font-family: 'Averta-Bold';
  src: url('../assets/fonts/Averta/Averta-Bold/Averta-Bold.otf');
}

@font-face {
  font-family: 'Averta-Regular-Italic';
  src: url('../assets/fonts/Averta/Averta-RegularItalic/Averta-Regular-Italic.otf');
}
