/**
 * Footer Design
 */

.footer {
  padding: 4rem 0;
  background-color: #2E3338;
  .footer_first {
    color: $white;
    font-style: italic;
    p {
      color: $white;
      font-weight: bold;
    }
   }
  .footer-links {
    display: flex;
    flex-direction: column;
    ul {
      display: flex;
      padding-left: 0;
      list-style: none;
      flex-wrap: wrap;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      li {
        flex: 0 1 25%;
        a {
          color: #B1AEAC;
        }
      }
    }
  }
  hr {
    margin: 2rem auto 3rem;
    border-top: 1px solid #B1AEAC;
  }
  .newsletter-social-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .newsletter-section {
      .form-inline {
        button {
          margin: 0 10px;
          @media only screen and (max-width: 420px) {
            margin: 0;
          }
        }
      }
      @media (max-width: 767px){
        width: 100%;
      }
      .title {
        color: $white;
        font-weight: bold;
      }
      .form-group {
        margin-left: 0 !important;
        .form-control {
          border: 1px solid #B1AEAC;
        }
      }
    }
    .social-section {
      text-align: center;
      .nav-link {
        margin: 0 10px;
      }
      .title {
        color: $white;
        font-weight: bold;
      }
      ul {
        list-style: none;
        padding: 0;
        flex-direction: row;
        justify-content: space-around;
        li {
          a {
            padding: 0;
            i {
              color: $white;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
