/*
 * form design
 */

.form-group {
  display: inline-block;
  width: 100%;
  &.form-grop-pwd {
    display: flex;
    align-items: flex-end;
  }
  .form-control {
    padding: 20px 15px;
    background-color: $body-bg;
    &.form-select {
      height: 42px;
      padding: 6px 12px;
    }
  }
  label {
    font-weight: normal;
  }
}

#select-dropdown {
  .input-group {
    .input-group-addon {
      display: none;
    }
  }
}
