/*
 * - fordern page design
 */

.award {
  .platforma-image {
    height: 550px;
    max-width: 375px;
    width: 100%;
    background-image: url('../assets/images/kyle-ellefson-196125-unsplash.jpg');
    background-size: cover;
    @media (max-width: 767px) {
      margin: auto;
    }
  }
  .award-text {
    @media (max-width: 991px) {
      padding-left: 0 !important;
    }
  }
}

.winners {
  .winners-image {
    max-width: 375px;
    width: 100%;
    @media (max-width: 767px) {
      margin: 0 auto 20px;
    }
    img {
      width: 100%;
    }
  }
  .winners-text {
    @media (max-width: 991px) {
      padding-left: 0 !important;
    }
  }
}

.year-tab-section {
  ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
    @media (max-width: 991px) {
      justify-content: center;
    }
    li {
      display: inline-block;
      margin-bottom: 20px;
      a {
        display: inline-block;
        min-width: 130px;
        margin: 0 10px;
        padding: 12px 10px;
        border: 2px solid gray;
        border-radius: 4px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}


