/*
 * - fordern page design
 */

 .award {
    .platforma-image {
      height: 100%;
      width: 375px;
      img {
        width: 375px;
    }
  }
}

 .winners {
    .winners-image {
      height: 100%;
      width: 375px;
        img {
          width: 375px;
      }
    }
 }
