/*
* forum page design
*/


/* subpage2 design */

.group {
  text-align: center;
  &.member-main {
    max-width: 210px;
    margin: 0 10px;
  }
  .image-wrapper-member {
    display: inline-block;
    height: 90px;
    width: 90px;
    margin-bottom: 15px;
    padding-top: 25px;
    border-radius: 100%;
    background-color: rgba(21, 26, 33, .1);
    text-align: center;
  }
  .designation {
    font-size: 13px;
  }
}


.view-header {
  text-align: center;
  p {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: rgba(21, 26, 33, .7);
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    text-align: center;
  }
}

#201810261230595bd2ece33c571, #201810261233215bd2ed710f323 {
	text-align: center;
	max-width: 780px;
	margin: auto;
}

