/**
 * Home page
 */



 /*das section*/
.commitment {
  .main-title {
    max-width: 777px;
  }
  .number-title {
    font-size: 80px;
    line-height: 80px;
    font-weight: 100;
    font-family: Averta-Light;
  }
  p {
    color: $grey-dark;
  }
}

.nachhaltiges {
  .bg-img {
    padding: 30px;
    background-image: url('../assets/images/header_home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &.bg-img-none {
      background: none;
      ul {
        width: 100%;
        li {
          display: flex;
          border: none;
          flex-direction: column-reverse;
        }
      }
    }
    ul {
      display: flex;
      margin-top: 40px;
      padding-left: 0;
      list-style: none;
      justify-content: space-around;
      @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      &:hover {
        a {
          color: $orange;
        }
      }
      li {
        width: 25%;
        border-right: 1px solid rgba(21, 26, 33, .2);
        @media (max-width: 767px) {
          width: 50%;
          margin-bottom: 15px;
        }
        &:last-child {
          border-right: none;
        }
        a {
          color: rgba(21, 26, 33, .5);
          font-size: 12px;
          line-height: 16px;
          font-weight: 600;
          + .menu_link_content {
            .field--name-field-active-image {
              display: none;
            }
          }
          &.is-active {
            color: $orange;
            + .menu_link_content {
              .field--name-field-active-image {
                display: block;
              }
              .field--name-field-inactive-image {
                display: none;
              }
            }
            &:hover {
              color: $orange;
            }
          }
          .image-wrapper {
            display: inline-block;
            height: 50px;
            width: 50px;
            /*padding-top: 16px;*/
            border-radius: 100%;
            /*background-color: $body-color;*/
            &:hover {
              /*background-color: $orange;*/
            }
          }
          p {
            margin-bottom: 0;
            padding-top: 10px;
            font-size: 12px;
            line-height: 16px;
          }
        }
        .field {
          img {
            height: 66.67px;
            width: 66.67px;
            margin: 0 auto 10px;
            border-radius: 100%;
          }
        }
      }
    }
  }
}



/* our partner */
.partner {
  .partner-title {
    margin-bottom: 40px;
    font-weight: bold;
  }
}
