/**
 * Home page
 */



 /*das section*/
.commitment {
  .main-title {
    max-width: 777px;
  }
  .number-title {
    font-size: 80px;
    font-weight: 100;
    line-height: 80px;
    font-family: Averta-Light;
  }
  p {
    color: $grey-dark;
  }
}

.nachhaltiges {
  .bg-img {
    padding: 30px;
    background-image: url('https://via.placeholder.com/340x200');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    ul {
      display: flex;
      margin-top: 40px;
      padding-left: 0;
      list-style: none;
      justify-content: space-around;
      @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      li {
        width: 25%;
        border-right: 1px solid rgba(21, 26, 33, .2);
        @media (max-width: 767px) {
          width: 50%;
          margin-bottom: 15px;
        }
        &:last-child {
          border-right: none;
        }
        a {
          .image-wrapper {
            display: inline-block;
            height: 50px;
            width: 50px;
            padding-top: 16px;
            border-radius: 100%;
            background-color: $body-color;
            &:hover {
              background-color: $orange;
            }
          }
          p {
            padding-top: 5px;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
}



/* our partner */
.partner {
  .partner-title {
    margin-bottom: 40px;
    font-weight: bold;
  }
}
