/* --------------------------------------------------
 Header Style
-------------------------------------------------- */
.header {
  .site_title_section {
    display: flex;
    padding: 1rem 5rem;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    &.sticky {
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
      background-color: #FAF7EF;
      box-shadow: 0 0 12px rgba(0, 0, 0, .125);
    }
    @media (max-width: 767px){
      padding-right: 0;
      padding-bottom: .55rem;
      padding-left: 0;
    }
    @media (max-width: 479px){
      padding-bottom: 0;
    }
    .header_first {
      font-style: italic;
      @media (max-width: 767px){
        margin-top: 5px;
        font-size: 12px;
        line-height: 18px;
      }
      @media (max-width: 479px){
        font-size: 10px;
        line-height: 16px;
      }
      p {
        font-weight: bold;
        @media (max-width: 767px){
          font-size: 12px;
          line-height: 18px;
        }
        @media (max-width: 479px){
          font-size: 10px;
          line-height: 16px;
        }
      }
    }
    .header_logo {
      @media (max-width: 767px) {
        padding-right: 0;
        padding-left: 0;
      }
    }
    .header_search_icon {
      .form-search {
        input[type=search] {
          height: 30px;
          width: 30px;
          /*padding: 9px 20px 9px 32px;*/
          /*padding-left: 10px;*/
          border: none;
          -moz-border-radius: 10em;
          border-radius: 10em;
          background: url('../assets/images/search.png') no-repeat;
          background-position: left 0 top 5px;
          background-size: 25px;
          color: transparent;
          font-size: 100%;
          font-family: inherit;
          cursor: pointer;
          outline: none;
          -webkit-box-sizing: content-box;
          -moz-transition: all .5s;
          transition: all .5s;
          @media (max-width: 767px) {
            background-position: left 5px top 5px;
            background-size: 25px;
          }
          &::-webkit-search-decoration,
          &::-webkit-search-cancel-button {
            display: block;
          }
          &::-webkit-input-placeholder {
            color: transparent;
          }
          &:hover {
            width: 90%;
            padding-left: 32px;
            border-color: #66CC75;
            background-color: $white;
            background-position: 10px;
            background-size: 20px;
            color: $black;
            cursor: auto;
            -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
            box-shadow: 0 0 5px rgba(0, 0, 20, .8);
          }
        }
      }
    }
    .header_hemburger_icon {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }
    .img-logo {
      @media (max-width: 767px) {
        width: 25px;
        background-size: 95px;
      }
    }
    .img-search,
    .img-hemburger {
      @media (max-width: 767px) {
        width: 25px;
      }
    }
  }
  .menu_section {
    @media (max-width: 767px) {
      display: none;
    }
    &.show {
      position: fixed;
      top: 67px;
      right: 0;
      left: 0;
      z-index: 9;
      display: block;
      background-color: #FAF7EF;
    }
    &.sticky {
      position: fixed;
      top: 0;
      z-index: 9999;
      width: 100%;
      background-color: #FAF7EF;
      box-shadow: 0 0 12px rgba(0, 0, 0, .125);
      nav {
        ul {
          li {
            &:first-child {
              display: block;
              &.right {
                text-align: right;
              }
            }
            &:last-child {
              display: block;
            }
          }
        }
      }
    }
    nav {
      width: 100%;
      margin-bottom: 0;
      border: 1px solid $grey;
      border-right: none;
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        table-layout: fixed;
        li {
          position: relative;
          border-right: 1px solid $grey;
          border-left: 1px solid $white;
          text-align: center;
          list-style: none;
          flex-grow: 1;
          @media (max-width: 767px) {
            text-align: left;
          }
          &:first-child {
            display: none;
            border-left: none;
          }
          &:last-child {
            display: none;
          }
          &.position-inherit {
            position: inherit;
            @media (max-width: 767px) {
              position: relative;
            }
          }
          a {
            display: block;
            padding: 10px 0;
            color: #151A21;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1px;
            text-decoration: none;
            @media (max-width: 767px) {
              display: inline-block;
              padding-right: 10px;
              padding-left: 10px;
            }
            &.active {
              text-decoration: underline;
              }

            img {
              &.img-small {
                width: 60px;
                padding: 0 20px;
              }
              &.float-left {
                float: left;
              }
              &.float-right {
                float: right;
              }
            }
          }
          .caret {
            display: none;
            @media (max-width: 767px) {
              position: absolute;
              top: 15px;
              right: 15px;
              display: block;
              &.bottom {
                transform: rotateZ(-180deg);
              }
            }
          }
          ul {
            &.submenu {
              position: absolute;
              z-index: 9;
              display: none;
              width: 100%;
              border-top: 3px solid;
              background-color: $white;
              &.border-green {
                border-color: $green-border;
              }
              &.border-yellow {
                border-color: $yellow-border;
              }
              &.border-blue {
                border-color: $blue-border;
              }
            }
            li {
              padding-right: 20px;
              padding-left: 20px;
              text-align: left;
              &:first-child {
                display: block;
              }
              &:last-child {
                display: block;
              }
            }
          }
          .mega-menu {
            position: absolute;
            right: 0;
            left: 0;
            z-index: 9;
            display: none;
            height: 355px;
            width: 100%;
            padding: 2rem;
            border-top: 2px solid;
            background-color: $white;
            box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .5);
            @media (max-width: 767px) {
              padding: 1rem;
              overflow-x: hidden;
            }
            &.border-orange {
              border-color: $orange-border;
              ul {
                li {
                  &.active {
                    > a {
                      color: $orange-border;
                    }
                    > hr {
                      width: 25%;
                      margin-left: 10px;
                      border: 1px solid $orange-border;
                      @media (max-width: 767px) {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
            &.border-pink {
              border-color: $pink-border;
              ul {
                li {
                  &.active {
                    > a {
                      color: $pink-border;
                    }
                    > hr {
                      width: 25%;
                      margin-left: 10px;
                      border: 1px solid $pink-border;
                      @media (max-width: 767px) {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
            .column {
              ul {
                display: block;
                li {
                  position: inherit;
                  display: flex;
                  padding-left: 0;
                  border-right: none;
                  justify-content: space-between;
                  align-items: center;
                  @media (max-width: 767px) {
                    padding-right: 0;
                    flex-direction: column;
                  }
                  &.active {
                    .card-section {
                      display: block;
                    }
                  }
                  .card-section {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: auto;
                    display: none;
                    width: 73%;
                    margin-bottom: 0;
                    padding-right: 1%;
                    padding-left: 1%;
                    background-color: $white;
                    @media (max-width: 767px) {
                      position: relative;
                      width: 100%;
                      padding-left: 0;
                    }
                  }
                  hr {
                    @media (max-width: 767px) {
                      display: none;
                    }
                  }
                }
              }
              .hr-grey {
                height: 2px;
                width: 25.96px;
                margin-left: 0;
                border: 1px solid rgba(21, 26, 33, .2);
                box-sizing: border-box;
              }
            }
          }
          &:hover {
            .mega-menu,
            .submenu {
              display: block;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      nav {
        font-size: .8em;
        ul {
          display: block;
          li {
            display: block;
            border-bottom: 1px solid $grey;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
