/**
 * leben page
 */


/*highlight section*/
.highlight {
}

/*highlight section end*/

/* platforma */
.platforma {
  margin-bottom: 100px;
  text-align: center;
  .platforma_title {
    width: 100%;
  }
  .platforma_sub_text {
    margin-bottom: 70px;
  }
}

