/**
 * leben page
 */

/* banner section */
.banner-section {
  .banner-img {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
  .banner-links {
    padding: 0 15px;
  }
}
/*highlight section*/

/*highlight section end*/

/* platforma */
.platforma {
  margin-bottom: 100px;
  text-align: center;
  .platforma_title {
    width: 100%;
  }
  .platforma_sub_text {
    max-width: 609px;
    width: 100%;
    margin: 0 auto 70px;
    text-align: left;
  }
}

.lebensubpage-tab {
  ul {
    display: flex;
    margin-top: 40px;
    padding-left: 0;
    list-style: none;
    justify-content: space-around;
    li {
      width: 25%;
      a {
        .image-wrapper {
          display: inline-block;
          height: 50px;
          width: 50px;
          padding-top: 16px;
          border-radius: 100%;
          background-color: $body-color;
          &:hover {
            background-color: $orange;
          }
          &.active {
            background-color: $orange;
          }
        }
        p {
          padding-top: 5px;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}

/* shivani's design */
#subheader {
  display: inline-block;
  width: 100%;
  padding-bottom: 0;
  .right-left-header {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #B1AEAC;
    justify-content: space-between;
    align-items: flex-end;
  }
  .leben-project {
    float: left;
    display: inline-block;
  }
  a {
    float: right;
    display: inline-block;
  }
}

#select-dropdown {
  .drop-down-wrap {
    padding: 30px 0;
    border-bottom: 0 solid #B1AEAC;
    span {
      display: inline-block;
      width: 100%;
    }
    .search-box {
      background-image: url('../assets/images/search.png');
      background-position: center right 10px;
      background-repeat: no-repeat;
      background-size: 16px;
    }
    .search-box,
    .left-dropdown,
    .center-dropdown {
      display: inline-block;
      width: 100%;
      margin: 10px 0;
      padding: 7px;
      border-radius: 4px;
    }
    .left-dropdown,
    .center-dropdown {
      padding: 10px;
    }
  }
}

#img-grid {
  display: inline-block;
  width: 100%;
  &:first-child {
    .img-grid-wrap {
      border-top: 1px solid #B1AEAC;
    }
  }
  .img-grid-wrap {
    margin: 10px auto;
    border-bottom: 1px solid #B1AEAC;
    .wrap {
      padding: 0 0 28px;
    }
  }
  .img-grid-left {
    h3 {
      margin-top: 0;
      font-weight: 800;
    }
    .global {
      position: absolute;
      bottom: 0;
      display: block;
      margin-bottom: 0;
      color: rgba(21 , 26 , 33 , .7);
      font-size: 13px;
      letter-spacing: .5px;
    }
  }
  .img-grid-center {
    height: 173.42px;
    width: 295px;
    color: rgba(21 , 26 , 33 , .7);
    font-size: 16px;
    line-height: 26px;
  }
  .img-grid-right {
    float: right;
  }
}

.next_prev {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(21,26,33,0.2);
}

.leben-list {
  margin: 25px 0;
  color: $body-color;
}

.info-sitebar {
  .info-sitebar-image {
    margin-bottom: 15px;
    padding-bottom: 1px;
    border: 1px solid rgba(21,26,33,0.2);
    border-radius: 4px;
    background-color: $white;
  }
  .info-title {
    margin-bottom: 15px;
    padding: 20px 10px;
    border: 1px solid rgba(21,26,33,0.2);
    border-radius: 4px;
    background-color: $white;
  }
  .info-map {
    height: 276px;
    padding-top: 1px;
    border: 1px solid rgba(21,26,33,0.2);
    border-radius: 4px;
    background-color: $white;
  }
}

.border-bm {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(21,26,33,0.2);
}
