/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */
$body-bg: #FAF7EF;
$white: #FFF;
$black: #000;
$grey: #CCC;
$orange: #FF6C17;
$green: #00AD74;
$grey-dark: #757575;

$body-color: rgba(21, 26, 33, .7);

$theme-font-color: rgba(21, 26, 33, .9);
$card-title-color: #FF640C;

$sub-text-color: rgba(21, 26 , 33, .9);
$orange-start: #FC7300;
$orange-end: #F4001D;
$purple-start: #FF003F;
$purple-end: #BA0070;

$blue-start: #4693F6;
$blue-end: #6C00FE;

$green-start: #00C675;
$green-end: #197592;

$orange-border: #EC6B15;
$green-border: #4FAE74;

$yellow-start: #EDCD00;
$yellow-end: #FE8300;

$yellow-border: #F2A916;
$blue-border: #377BEB;
$pink-border: #E5274D;


/* ---- Text ---- */

// Font Family
$averta-regular: 'Averta-Regular';


/* URL */
/*$url-avertaStandard-regular: url('../assets/fonts/AvertaStandard-Regular.otf');*/



/* ---- White Space and widths---- */
$ws-xs: 50px;
$ws-s: 65px;
$ws-m: 100px;
$ws-l: 160px;


/* ---- Media Queries Breakpoints ---- */
$screen-xs: 600px;
$screen-sm: 770px;
$screen-md: 992px;
$screen-lg: 1260px;
$screen-xlg: 1440px;

