.event-sidebar {
  padding-left: 30px;
  @media (max-width: 767px) {
    padding-left: 0;
  }
  .sidebar-info {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    padding: 20px 0;
    border-top: 1px solid rgba(21, 26, 33, .2);
    flex-direction: column;

    .sidebar-title {
      font-size: 24px;
      font-weight: 800;
    }
    &:last-child {
      border-bottom: 1px solid rgba(21, 26, 33, .2);
    }
  }

}
